/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*,*::after,*::before{
    box-sizing: border-box;
}
img{
    max-width: 100%;
    height: auto;
}
a{
	text-decoration: none;
	display: block;
	color: #fff;
}
body{
	line-height: 1.3;
	font-family: 微軟正黑體, Arial, Helvetica, sans-serif;
}

/* css reset */
.wrap{
	max-width: 1024px;
	margin: 0 auto;
	position: relative;
}
/* header  */
.header{
	display: flex;
	justify-content: space-between;
	background: rgba(0, 0, 0, 0.6);
	position: absolute;
	width: 100%;
	padding: 16px 40px ;	
}
h1 a{
	background-image: url(..//img/logo_w@svg.svg);
	background-repeat: no-repeat;
	text-indent: 101%;
	overflow: hidden;
	white-space: nowrap;
	width: 120px;
	height: 24px;
}
.menu{
	display: flex;
}
.menu a{
	padding: 0px 30px;
}
.menu a:hover{
	background-color: #929292;
}
/* banner背景以及文字 */
.banner{
	background-image: url(..//img/header_desktop.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 420px;
	color: #fff;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	
}
.banner-text{
	color: #fff;
	background: rgba(0, 0, 0, 0.6);
	padding: 20px;
}
.banner-text h3{
	font-size: 36px;
	margin: 20px 0 16px;
}
/* feature頁 */
.feature,.feedback,.contact,.footer{
	background: #efe9e7;
	padding: 50px;
	color: #3D1101;
}
.box{
	display: flex;
	align-items: baseline;
	justify-content: center;
}
h4{
	font-size: 20px;
	text-align: center;
	margin-bottom: 31px;	
	font-weight: bold;
}
.line-left,.line-right{
	width: 13%;
	height: 1px;
	margin: 0 20px;
	border: solid #b0b0b0 1px;
}
.feature-introduce{
	display: flex;
	justify-content: space-between;
}
.feature-introduce li{
	width: 30%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.feature-introduce img{
	border-radius: 50%;
}
h5{
	font-size: 18px;
	margin: 20px 0 10px;
	text-align: center;
}
/* chef */
.chef{
	display: flex;
	align-items: center;
	background: #3D1101;
	color: #fff;
}
.chef img{
	margin: 0 25px;
	width: 470px;
	height: 460px;
}
.chef-introduce{
	width: 410px;
}

.chef-introduce h4{
	font-size: 20px;
}
@media(max-width:768px){
	.chef img{
		display: none;
	}
	.chef-introduce{
		width: 100%;
		padding: 25px;
	}
}
/* feedback 回饋*/
.feedback h4,.contact h4{
	font-size: 24px;
}
.container,.container li{
	display: flex;
	justify-content: space-between;
}
.container li{
	width: 30%;
	margin: 0 1%;
}
.container img{
	border-radius: 50%;
	height: fit-content;
	margin-right: 10px;
}
.evaluate h6{
	line-height:4;
}
.evaluate span{
	display: block;
	text-align: right;
}
/* contact 聯繫資訊*/
.contact{
	background: #FAFAFA;
}
.information{
	display: flex;
}
form{
	margin-left: 20px;
	width: 50%;
}
label{
	font-size: 14px;
}
.contact .information form input{
	margin-bottom: 10px;
}
/* raio */
.radio{
	margin-top: 8px;
}
.radio-no{
	margin-left: 35px;
}
/* 送出取消按鈕 */
.btn{
	text-align: end;
	margin-top: 25px;
	font-size: 14px;
}
.btn-cancle{
	background: rgba(0,0,0,0.35);
	border-radius: 3px;
}
.btn-send{
	background: #F56C23;
	border-radius: 3px;
	margin-left: 10px;
}
/* footer表尾 */
.footer{
	display: flex;
	justify-content: space-between;
}
.about{
	display: flex;	
}
.about >li{
	padding: 5px;
	width: 50%;
	
}

.about p,.address{
	margin-top: 16px;
}
.about h5{
	text-align: left;
}
.address li{
	list-style: disc;
	list-style-position: inside;
		
}

h2{
	background-image: url(..//img/logo_l@svg.svg);
	background-repeat: no-repeat;
	text-indent: 101%;
	overflow: hidden;
	white-space: nowrap;
	width: 245px;
	height: 49px;
	margin-bottom: 44px;
}
.logo{
	display: flex;
	justify-content: end;
}
i{
	margin-left: 12px;
}